rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow anyone to read, write, and create games
    match /games/{gameId} {
      allow read, write: if request.auth != null;
    }
  }
}
